/* RESET CSS, NORMALIZE CSS, REBOOT */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, p, em, img, strong, var, i, center,
fieldset, label, legend,
table, tr, th, td,
article, aside, 
figure, figcaption, footer, header, section{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, 
footer, header, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1;
}

html, body{
    height: 100vh; /*OCUPA SEMPRE TODA A TELA*/
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background-color);
}

:root {    
    --color-background-color: #20194D;
    --color-btn-text:#F3689A;
    --color-text-primary: #000000;
    --color-primary: #FFFFFF;
}

img{    
    height: 3rem;
    width: 3rem;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER  */
header{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 3rem;
    
}
 
header svg:hover{
    fill: var(--color-btn-text);
    cursor: pointer;
} 

header button {    
    background-color:var(--color-background-color);
    color:var(--color-primary);

    width: 15rem;
    height: 5rem;

    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

header #add-event {    
    font-size: 2rem;
    font-weight: medium;
    margin-left:3rem;
}
header #add-event:hover{
    cursor: pointer;
}

header #tooltip{
    margin-right: 1rem;
    width: 10rem;
}

section#tooltip-content{
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    font-size: 2rem;
    width: 70vw;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 0.8rem;
    line-height: 3rem;
}

/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
main#main-container{
    display: none;
}

main#main-container .event-block{
    background-color: var(--color-primary);
    width: 70vw;
    height: 9rem;
    margin: 1rem auto 4rem;
    padding: 0.5rem;

    border-radius: 8px;
}
main#main-container .event-block h1{
    font-size: 2.5rem;
    margin: 0.3rem 0 0 1rem;
}
main#main-container .event-block .event-header{
    display: flex;
    justify-content: space-between;
}

main#main-container .event-block .event-header .img-group img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.3rem 0.5rem;
}

main#main-container .event-block .event-header .img-group img:hover{
    cursor: pointer;
}

main#main-container .event-block .event-header .img-group:last-child{
    margin-right: 1.2rem;
}

main#main-container .event-section{
    width: 100%;
    display: flex;
    align-items: center;
   
}

main#main-container .event-section .event-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 0.1rem solid black; */
    
    width: 45%;
    margin-top: 0rem;
    font-size: 1.5rem;
}

main#main-container .event-section .event-info p{
    margin-top: 0.3rem;
}

main#main-container .event-section button{
    position: relative;
    top: 3.8rem;
    
}

main#main-container .event-section .countdown-timer{
    font-size: 2rem;
    /* border: 0.1rem solid black; */
    width: 45%;

    position: relative;
    top: -1rem;

    display: flex;
    align-items: center;
    justify-content: center;

}
main#main-container .event-section .countdown-timer th, td{    
    padding: 0.5rem;    
    text-align: center;
}


.start-btn, #register-btn{
    font-size: 1.5rem;

    background-color: var(--color-btn-text);
    color: var(--color-primary);
    outline: none;
    border: none;
    border-radius: 0.4rem;
}
.start-btn{
    width: 9rem;
    height: 5rem;
    
}

.start-btn:hover{
    cursor: pointer;
}

/* MODAL MODAL MODAL MODAL MODAL */

section#modal{
    display: none;
    background-color: var(--color-primary);
    border-radius: 0.8rem;
    width: 50%;
    margin: 0 auto;
    padding: 5rem;
}

section#modal #data-field fieldset legend{
    margin-bottom: 0.4rem;
}

section#modal #data-field fieldset input{    
    height: 2.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.315);
    margin-bottom: 1.5rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;    
    padding: 0.5rem;
}

section#modal #data-field fieldset #input-event-name{
    width: 70%;
}

section#modal #data-field fieldset #input-event-date{
    margin-right: 1rem;
}

section#modal #data-field fieldset legend{
    font-size: 2rem;
}

section#modal #data-field #input-group{
    display: flex;    
    align-items: center;
    justify-content: start;    
}

section#modal #data-field #input-group:last-child{
    margin-bottom: 2rem;
}

#register-btn{
    width: 11rem;
    height: 5rem;
}

#register-btn:hover{
    cursor: pointer;
}
